.data-type {
  padding-bottom: 20px;
}

.data-type__name {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
}

.component-doc__title {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.component-doc__description {
  padding-bottom: 12px;
}

.component-doc__section {
  padding-bottom: 20px;
}

.component-doc__section-title {
  font-size: 20px;
  font-weight: 500;
}

.component-doc__section-description {
  padding: 12px 0;
}