<div class="wrapper">
  <app-header></app-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="container" width="600px">
  <div class="element">
    <button (click)="changePopupVisibility()">Show popup</button>
    <mui-popup
      [(visible)]="isPopupVisible"
      [title]="'Заголовок модального окна'"
      [buttons]="popupButtons">
      Вы уверены, что хотите закрыть модальное окно?
    </mui-popup>
  </div>
  <div class="element">
    <mui-table
      [data]="tableData"
      [columns]="columns"
      [height]="'600px'"
      [addingEnabled]="true"
      [editingEnabled]="true"
      [deletingEnabled]="true"
      [filteringEnabled]="true"
      [sortingEnabled]="true"></mui-table>
  </div>
  <div class="element">
    <mui-line-chart
      [label]="'Заголовок линейной диаграммы'"
      [series]="lineChartSiries"></mui-line-chart>
  </div>
  <div class="element">
    <mui-bar-chart
      [label]="'Заголовок столбчатой диаграммы'"
      [series]="barChartSiries"></mui-bar-chart>
  </div>
  <div class="element">
    <mui-slider [width]="'400px'">
      <mui-slider-item>
        <div class="slider-element-1"></div>
      </mui-slider-item>
      <mui-slider-item>
        <div class="slider-element-2"></div>
      </mui-slider-item>
      <mui-slider-item>
        <div class="slider-element-3"></div>
      </mui-slider-item>
    </mui-slider>
  </div>
  <div class="element">
    <mui-scroll-layout [width]="'300px'" [height]="'100px'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit dolorum,
      aliquam eveniet dolore accusamus similique sed maiores aperiam nemo
      voluptates modi quaerat placeat culpa possimus. Placeat exercitationem
      quis provident beatae. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Sit dolorum, aliquam eveniet dolore accusamus similique sed maiores
      aperiam nemo voluptates modi quaerat placeat culpa possimus. Placeat
      exercitationem quis provident beatae. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Sit dolorum, aliquam eveniet dolore
      accusamus similique sed maiores aperiam nemo voluptates modi quaerat
      placeat culpa possimus. Placeat exercitationem quis provident beatae.
    </mui-scroll-layout>
  </div>
  <div class="element">
    <mui-file-picker
      [formControl]="fileControl"
      [placeholder]="filePlaceholder"></mui-file-picker>
  </div>
  <div class="element">
    <mui-lookup
      [formControl]="lookupControl"
      [options]="options"
      [label]="'Lookup'"
      [showClearButton]="true"
      [placeholder]="dropdownPlaceholder"
      (onSelectionChange)="onLookupSelectionChange($event)"></mui-lookup>
  </div>
  <div class="element" [muiTooltip]="'Это подсказка'">
    Этот текст имеет всплывающую подсказку
  </div>
  <div class="element"><mui-spinner [visible]="true"></mui-spinner></div>
  <div class="element">
    <mui-accordion>
      <mui-accordion-item [label]="'Accordion item 1'" [isExpanded]="true">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        eligendi rerum cupiditate ad ut recusandae obcaecati commodi non
        consequuntur neque dolor. Quae perspiciatis odit harum sequi sint
        exercitationem. Officia, sapiente.
      </mui-accordion-item>
      <mui-accordion-item [label]="'Accordion item 2'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        eligendi rerum cupiditate ad ut recusandae obcaecati commodi non
        consequuntur neque dolor. Quae perspiciatis odit harum sequi sint
        exercitationem. Officia, sapiente.
      </mui-accordion-item>
      <mui-accordion-item [label]="'Accordion item 3'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        eligendi rerum cupiditate ad ut recusandae obcaecati commodi non
        consequuntur neque dolor. Quae perspiciatis odit harum sequi sint
        exercitationem. Officia, sapiente.
      </mui-accordion-item>
    </mui-accordion>
  </div>
  <div class="element">
    <mui-list [items]="listItems" [accessor]="listAccessor"></mui-list>
    <mui-list
      [items]="listItems"
      [accessor]="listAccessor"
      [isNumbered]="true"></mui-list>
  </div>
  <div class="element">
    <mui-date-picker
      [formControl]="datePickerControl"
      (onChange)="onDateChanged()"></mui-date-picker>
  </div>
  <div class="element">
    <mui-numberbox [formControl]="numberBoxControl"></mui-numberbox>
  </div>
  <div class="element">
    <mui-radio-group [readOnly]="true">
      <mui-radio-button [label]="'Radio option 1'"></mui-radio-button>
      <mui-radio-button [label]="'Radio option 2'"></mui-radio-button>
    </mui-radio-group>
  </div>
  <div class="element">
    <mui-slide-toggle
      [label]="'Slide toggle'"
      [formControl]="slideToggleControl"></mui-slide-toggle>
  </div>

  <div class="element">
    <mui-button [label]="'Кнопка'" [type]="ButtonTypeEnum.Default"></mui-button>
    <mui-button [label]="'Кнопка'" [type]="ButtonTypeEnum.Warning"></mui-button>
    <mui-button [label]="'Кнопка'" [type]="ButtonTypeEnum.Error"></mui-button>
    <mui-button [label]="'Кнопка'" [type]="ButtonTypeEnum.Success"></mui-button>
    <mui-button [label]="'Кнопка'" [type]="ButtonTypeEnum.Flat"></mui-button>

    <mui-button
      [label]="'Кнопка'"
      [type]="ButtonTypeEnum.Default"
      [disabled]="true"></mui-button>
    <mui-button
      [label]="'Кнопка'"
      [type]="ButtonTypeEnum.Warning"
      [disabled]="true"></mui-button>
    <mui-button
      [label]="'Кнопка'"
      [type]="ButtonTypeEnum.Error"
      [disabled]="true"></mui-button>
    <mui-button
      [label]="'Кнопка'"
      [type]="ButtonTypeEnum.Success"
      [disabled]="true"></mui-button>
    <mui-button
      [label]="'Кнопка'"
      [type]="ButtonTypeEnum.Flat"
      [disabled]="true"></mui-button>
  </div>

  <div class="element">
    <button (click)="showNotification()">Show notification</button>
  </div>

  <div class="element">
    <mui-textarea
      [formControl]="texareaControl"
      [label]="'Описание'"
      [showClearButton]="true"
      [placeholder]="'Введите текст'"
      [maxLength]="1000"
      [showCounter]="true"></mui-textarea>
  </div>

  <div class="element">
    <mui-input
      [formControl]="inputControl"
      [label]="'Label'"
      [showClearButton]="true"
      [placeholder]="'Input placeholder'"
      (onInput)="onInput($event)"></mui-input>
  </div>

  <div class="element">
    <mui-dropdown
      [formControl]="dropdownControl"
      [options]="options"
      [label]="'Label 2'"
      [showClearButton]="true"
      [placeholder]="dropdownPlaceholder"
      (onSelectionChange)="onSelectionChange($event)">
    </mui-dropdown>
  </div>

  <div class="element">
    <mui-checkbox
      [label]="'Label 3'"
      [formControl]="checkboxControl"></mui-checkbox>
  </div>

  <div class="element">
    <mui-tabs>
      <mui-tab [label]="'Tab 1'" [isActive]="false">
        <p>
          1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto
          placeat fugit omnis maxime dolore obcaecati doloribus perspiciatis
          dolorum repudiandae, facilis at blanditiis, enim numquam quos.
          Deserunt, possimus. Quisquam, delectus et.
        </p>
      </mui-tab>
      <mui-tab [label]="'Tab 2'" [isActive]="false">
        <p>
          2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto
          placeat fugit omnis maxime dolore obcaecati doloribus perspiciatis
          dolorum repudiandae, facilis at blanditiis, enim numquam quos.
          Deserunt, possimus. Quisquam, delectus et.
        </p>
      </mui-tab>
      <mui-tab [label]="'Tab 3'" [isActive]="false">
        <p>
          3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto
          placeat fugit omnis maxime dolore obcaecati doloribus perspiciatis
          dolorum repudiandae, facilis at blanditiis, enim numquam quos.
          Deserunt, possimus. Quisquam, delectus et.
        </p>
      </mui-tab>
    </mui-tabs>
  </div>

  <div class="element">
    <mui-pie-chart
      [label]="'Заголовок круговой диаграммы'"
      [series]="pieChartSiries"></mui-pie-chart>
  </div>
</div> -->
