<div class="header-wrapper">
  <div class="header-container">
    <div class="header-left-side">
      <div class="header-logo">
        <img src="../.././.././.././../assets/lib-icon.svg" alt="logo" />
      </div>
      <div class="header-title">MariiaUI</div>
    </div>

    <div class="header-menu-items">
      <div
        *ngFor="let item of menuItems"
        class="menu-item"
        [routerLink]="[item.route]"
        routerLinkActive="menu-item-active">
        <img *ngIf="item.image" [src]="item.image" alt="logo" />
        <div class="menu-item-title">
          <ng-container *ngIf="item.link; else noLink">
            <a [href]="item.link" target="_blank">
              {{ item.title }}
            </a>
          </ng-container>
          <ng-template #noLink>{{ item.title }}</ng-template>
        </div>
      </div>
    </div>

    <div class="header-languages">
      <mui-dropdown
        [options]="languages"
        [label]="label"
        [showClearButton]="false"
        [formControl]="dropdownControl"
        (onSelectionChange)="onSelectionChange($event)">
      </mui-dropdown>
    </div>
  </div>
</div>
