<app-demo-page
  [title]="title"
  [showService]="false"
  [componentCode]="componentCode"
  [templateCode]="templateCode">
  <mui-scroll-layout [width]="width" [height]="height">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit dolorum,
      aliquam eveniet dolore accusamus similique sed maiores aperiam nemo
      voluptates modi quaerat placeat culpa possimus. Placeat exercitationem
      quis provident beatae. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Sit dolorum, aliquam eveniet dolore accusamus similique sed maiores
      aperiam nemo voluptates modi quaerat placeat culpa possimus. Placeat
      exercitationem quis provident beatae. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Sit dolorum, aliquam eveniet dolore
      accusamus similique sed maiores aperiam nemo voluptates modi quaerat
      placeat culpa possimus. Placeat exercitationem quis provident beatae.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit dolorum,
      aliquam eveniet dolore accusamus similique sed maiores aperiam nemo
      voluptates modi quaerat placeat culpa possimus. Placeat exercitationem
      quis provident beatae. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Sit dolorum, aliquam eveniet dolore accusamus similique sed maiores
      aperiam nemo voluptates modi quaerat placeat culpa possimus. Placeat
      exercitationem quis provident beatae. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Sit dolorum, aliquam eveniet dolore
      accusamus similique sed maiores aperiam nemo voluptates modi quaerat
      placeat culpa possimus. Placeat exercitationem quis provident beatae.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit dolorum,
      aliquam eveniet dolore accusamus similique sed maiores aperiam nemo
      voluptates modi quaerat placeat culpa possimus. Placeat exercitationem
      quis provident beatae. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Sit dolorum, aliquam eveniet dolore accusamus similique sed maiores
      aperiam nemo voluptates modi quaerat placeat culpa possimus. Placeat
      exercitationem quis provident beatae. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Sit dolorum, aliquam eveniet dolore
      accusamus similique sed maiores aperiam nemo voluptates modi quaerat
      placeat culpa possimus. Placeat exercitationem quis provident beatae.
    </p>
  </mui-scroll-layout>
</app-demo-page>
