<app-demo-page
  [title]="title"
  [showService]="false"
  [componentCode]="componentCode"
  [templateCode]="templateCode">
  <div class="states">
    <div class="state">
      <div class="state__title">Normal state</div>
      <div class="state__content">
        <mui-checkbox
          [label]="label"
          [formControl]="checkboxControl"></mui-checkbox>
      </div>
    </div>

    <div class="state">
      <div class="state__title">Disabled state</div>
      <div class="state__content">
        <mui-checkbox
          [label]="label"
          [disabled]="true"
          [formControl]="checkboxControl"></mui-checkbox>
      </div>
    </div>

    <div class="state">
      <div class="state__title">ReadOnly state</div>
      <div class="state__content">
        <mui-checkbox
          [label]="label"
          [readOnly]="true"
          [formControl]="checkboxControl"></mui-checkbox>
      </div>
    </div>
  </div>
</app-demo-page>
