<app-demo-page
  [title]="title"
  [showService]="false"
  [componentCode]="componentCode"
  [templateCode]="templateCode"
  [showCSS]="true"
  [cssCode]="cssCode">
  <mui-slider [width]="width" [slideWidth]="slideWidth">
    <mui-slider-item>
      <div class="slider-element-1"></div>
    </mui-slider-item>
    <mui-slider-item>
      <div class="slider-element-2"></div>
    </mui-slider-item>
    <mui-slider-item>
      <div class="slider-element-3"></div>
    </mui-slider-item>
  </mui-slider>
</app-demo-page>
