.slider-element-1, .slider-element-2, .slider-element-3 {
  width: 200px;
  height: 100px;
}

.slider-element-1 {
  background-color: aquamarine;
}

.slider-element-2 {
  background-color:cadetblue;
}

.slider-element-3 {
  background-color:wheat;
}